.logo
  height 40px
.menu
  width 100vw
  //height 40px
  //background #eee
.link
  line-height 40px
  text-decoration none
  color black
  border-bottom 2px solid black
  margin 0
  margin-left 20px
